body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #e09, #d0e);
    color: black;
}

.container {
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.gif-container {
    margin-bottom: 20px;
}

.gif {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.question, .options, .buttons, .final-message {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: black;
    color: white;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(1);
}

#availability-select {
    padding: 10px;
    margin-bottom: 10px;
}

input[type=checkbox] {
    margin: 10px;
}
